In [9]:

import pandas as pd
a=pd.read_csv('C:/Users/yuvas/Downloads/kellys_icecream_dataset (2).csv')
print(a)

    customer_id  transaction_id  amount
0          1001          339473      89
1          1002          359433       5
2          1003           43176      52
3          1004           27169      19
4          1001          530588       4
..          ...             ...     ...
95         1001          900073      19
96         1005          900074      58
97         1004          900075      65
98         1005          900076      43
99         1003          900077      45

[100 rows x 3 columns]